<div class="pharmacien-auth">

    <div *ngIf="!showLogin" class="sign-up">
        <h1>Pharmacien sign-up</h1>
        <form #pharmacienSignUp="ngForm" (ngSubmit)="signUp(pharmacienSignUp.value)" class="common-form">
            <input type="text" class="form-input" placeholder="Enter Name" name="name" ngModel required>
            <input type="password" class="form-input" placeholder="Enter Password" name="password" ngModel ngModel minlength="8" maxlength="20" required>
            <input type="email" class="form-input" placeholder="Enter Email" name="email" ngModel required>
            <button [disabled]="pharmacienSignUp.invalid" class="form-button">Sign Up</button>
            <a class="auth-toggle-Link" (click)="openLogin()"> Already have account? Click for Login</a>
        </form>
    </div>

    <!--Login Area-->
    <div *ngIf="showLogin" class="login">
        <h1>Pharmacien Login</h1>
        <p class="error-p">{{authError}}</p>
        <form #pharmacienLogin="ngForm" (ngSubmit)="login(pharmacienLogin.value)" class="common-form">
            <input type="email" class="form-input" placeholder="Enter Email" name="email" ngModel required>
            <input type="password" class="form-input" placeholder="Enter Password" name="password" ngModel ngModel minlength="8" maxlength="20" required="">
            <button class="form-button">Login</button>
            <a class="auth-toggle-Link" (click)="openSignUp()"> Don't have account? Click for sign-up</a>
        </form>
    </div>
</div>