<header>
    <h1> votre chez-vous, Catalogue Client </h1>
</header>
<section class="main">
    <div class="cards">
        <div class="card">
            <img src="https://www.pharmashopi.com/images/Image/advilmed-enfants-sirop-1406884331.jpg" alt="">
            <div class="card-header">
                <h4 class="name"> Advilmed-enfants</h4>
                <h4 class="price"> 100$</h4>
                <h4 class="availability"> Disponible</h4>
            </div>
        </div>
        <div class="card">
            <img src="https://www.pharmashopi.com/images/Image/advilmed-enfants-sirop-1406884331.jpg" alt="">
            <div class="card-header">
                <h4 class="name"> Advilmed-enfants</h4>
                <h4 class="price"> 100$</h4>
                <h4 class="availability"> Disponible</h4>
            </div>
        </div>
        <div class="card">
            <img src="https://www.pharmashopi.com/images/Image/Helicidine-10-sans-sucre-flacon-de-250-ml3400922385624.jpg" alt="">
            <div class="card-header">
                <h4 class="name"> Hélicidine</h4>
                <h4 class="price"> 250$</h4>
                <h4 class="availability"> Non Dispobible</h4>
            </div>
        </div>
        <div class="card">
            <img src="https://cdn.pharmaciedesdrakkars.com/media/images/products/3400932320189-ld-0023-front-609a8f23a6deb.jpg" alt="">
            <div class="card-header">
                <h4 class="name"> Doliprane</h4>
                <h4 class="price"> 54$</h4>
                <h4 class="availability"> Dispobible</h4>
            </div>
        </div>
        <div class="card">
            <img src="https://www.londondrugs.com/on/demandware.static/-/Sites-londondrugs-master/default/dwb75365e3/products/L2711257/large/L2711257.JPG" alt="">
            <div class="card-header">
                <h4 class="name"> Tylenol</h4>
                <h4 class="price"> 120$</h4>
                <h4 class="availability"> Non Dispobible</h4>
            </div>
        </div>
        <div class="card">
            <img src="https://www.mon-pharmacien-conseil.com/17913-large_default/claradol-500-mg-16-comprimes-secables.jpg" alt="">
            <div class="card-header">
                <h4 class="name">claradol-500-mg</h4>
                <h4 class="price"> 30$</h4>
                <h4 class="availability"> Dispobible</h4>
            </div>
        </div>
        <div class="card">
            <img src="https://cdn.pharmaciedesdrakkars.com/media/images/products/3400932320189-ld-0023-front-609a8f23a6deb.jpg" alt="">
            <div class="card-header">
                <h4 class="name"> Doliprane</h4>
                <h4 class="price"> 100$</h4>
                <h4 class="availability"> Non Dispobible</h4>
            </div>
        </div>
        <div class="card">
            <img src="https://www.pharmashopi.com/images/Image/Helicidine-10-sans-sucre-flacon-de-250-ml3400922385624.jpg" alt="">
            <div class="card-header">
                <h4 class="name"> Helicidine-10</h4>
                <h4 class="price"> 125$</h4>
                <h4 class="availability"> Dispobible</h4>
            </div>
        </div>
        <div class="card">
            <img src="https://www.londondrugs.com/on/demandware.static/-/Sites-londondrugs-master/default/dwb75365e3/products/L2711257/large/L2711257.JPG" alt="">
            <div class="card-header">
                <h4 class="name"> Tylenol</h4>
                <h4 class="price"> 120$</h4>
                <h4 class="availability"> Dispobible</h4>
            </div>
        </div>
        <div class="card">
            <img src="https://www.mon-pharmacien-conseil.com/17913-large_default/claradol-500-mg-16-comprimes-secables.jpg" alt="">
            <div class="card-header">
                <h4 class="name">claradol-500-mg</h4>
                <h4 class="price"> 30$</h4>
                <h4 class="availability"> Dispobible</h4>
            </div>
        </div>
        <div class="card">
            <img src="https://www.pharmashopi.com/images/Image/advilmed-enfants-sirop-1406884331.jpg" alt="">
            <div class="card-header">
                <h4 class="name"> advilmed-enfants</h4>
                <h4 class="price"> 100$</h4>
                <h4 class="availability"> Dispobible</h4>
            </div>
        </div>
        <div class="card">
            <img src="https://www.pharmashopi.com/images/Image/advilmed-enfants-sirop-1406884331.jpg" alt="">
            <div class="card-header">
                <h4 class="name"> advilmed-enfants</h4>
                <h4 class="price"> 100$</h4>
                <h4 class="availability"> Dispobible</h4>
            </div>
        </div>
        <div class="card">
            <img src="https://www.upsa-nosproduits.com/sites/default/files/styles/produit/public/pack_hepato._3d_efferalgan_1000_berry_eff.png?itok=tzS9Xw3b" alt="">
            <div class="card-header">
                <h4 class="name"> Efferalgan</h4>
                <h4 class="price"> 65$</h4>
                <h4 class="availability"> Dispobible</h4>
            </div>
        </div>
        <div class="card">
            <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61ngVb+uBgL._AC_SL1000_.jpg" alt="">
            <div class="card-header">
                <h4 class="name"> Melatonine</h4>
                <h4 class="price"> 75$</h4>
                <h4 class="availability"> Dispobible</h4>
            </div>
        </div>
        <div class="card">
            <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61ngVb+uBgL._AC_SL1000_.jpg" alt="">
            <div class="card-header">
                <h4 class="name"> Melatonine</h4>
                <h4 class="price"> 65$</h4>
                <h4 class="availability"> Non Dispobible</h4>
            </div>
        </div>
        <div class="card">
            <img src="https://www.upsa-nosproduits.com/sites/default/files/styles/produit/public/pack_hepato._3d_efferalgan_1000_berry_eff.png?itok=tzS9Xw3b" alt="">
            <div class="card-header">
                <h4 class="name"> Efferalgan</h4>
                <h4 class="price"> 75$</h4>
                <h4 class="availability"> Dispobible</h4>
            </div>
        </div>
        <div class="card">
            <img src="https://www.upsa-nosproduits.com/sites/default/files/styles/produit/public/pack_3d_vit.c_1000_eff.png?itok=RykojVR3" alt="">
            <div class="card-header">
                <h4 class="name"> Vitamine C</h4>
                <h4 class="price"> 300$</h4>
                <h4 class="availability"> Dispobible</h4>
            </div>
        </div>
        <div class="card">
            <img src="https://www.upsa-nosproduits.com/sites/default/files/styles/produit/public/pack_3d_vit.c_1000_eff.png?itok=RykojVR3" alt="">
            <div class="card-header">
                <h4 class="name"> Vitamine C</h4>
                <h4 class="price"> 300$</h4>
                <h4 class="availability"> Non Dispobible</h4>
            </div>
        </div>
        <div class="card">
            <img src="https://www.pharma-dlp.com/produit/img_euphon-codeine-erysimum-300-ml.jpg" alt="">
            <div class="card-header">
                <h4 class="name"> Euphon</h4>
                <h4 class="price"> 150$</h4>
                <h4 class="availability"> Dispobible</h4>
            </div>
        </div>
        <div class="card">
            <img src="https://www.pharma-dlp.com/produit/img_euphon-codeine-erysimum-300-ml.jpg" alt="">
            <div class="card-header">
                <h4 class="name"> Euphon</h4>
                <h4 class="price"> 150$</h4>
                <h4 class="availability"> Dispobible</h4>
            </div>
        </div>
    </div>
</section>
